.loader{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(6, 105, 163) rgb(151, 206, 238) rgb(6, 105, 163) rgb(151, 206, 238);
    animation: 2s infinite loader;
}
.loader2{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid rgb(151, 206, 238);
    border-bottom: 3px solid rgb(6, 105, 163);
    animation: 2s infinite loader;
}
.loader3{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid rgb(151, 206, 238);
    border-bottom: 3px solid rgb(8, 206, 8);
    border-left: 3px solid rgb(210, 9, 9);
    border-right: 3px solid rgb(216, 216, 6);
    animation: 2s linear infinite loader;
}
.loader4{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px dotted rgb(151, 206, 238);
    animation: 2s linear infinite loader;
}
@keyframes loader{ 
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}